

body {
  margin: 0;
  overflow: hidden; /* Zapobiega przewijaniu, jeśli elementy wyjdą poza widoczny obszar */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  position: relative; /* Ważne dla pozycjonowania timer i score */
  background-image: url("../assets/images/bg.png"); /* ścieżka względem Game.css */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-area {
  position: absolute; /* Pozycjonujemy absolutnie względem .game-container */
  width: 900px; /* GAME_AREA_WIDTH */
  height: 1500px; /* GAME_AREA_HEIGHT */
  border: 5px solid transparent;
  background-color: transparent;

  left: 100px;
  top: 200px;
}

.grid,
.square {
  display: none;
}


.red-image-wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.03s ease-in-out;
  
}

.red-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.timer {
  position: absolute; /* Pozycjonowanie absolutne */
  top: 100px; /* 100px od góry */
  left: 50%; /* Wyśrodkowanie */
  transform: translateX(-50%); /* Dokładne wyśrodkowanie poziome */
  color: white;
  z-index: 100;
}

.score {
  position: absolute; /* Pozycjonowanie absolutne */
  bottom: 100px; /* 100px od dołu */
  left: 50%; /* Wyśrodkowanie */
  transform: translateX(-50%); /* Dokładne wyśrodkowanie poziome */
  color: white;
  z-index: 100;
}


.game-over {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 20px 0;
}

.countdown {
  font-size: 2rem;
  margin-top: 10px;
}

button {
  background-color: #4caf50;
  width: auto;
  height: auto;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 500px;
  height: 100px; 
}

.no2 {
  background-color: rgb(106, 0, 0);
  font-size: 2rem;
  margin-right: 10px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.63);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.63);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.63);
border-radius: 20px;
}

.results-table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  width: auto;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.8);
  z-index: 1001;
}

.results-content {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  font-size: 3rem;
  vertical-align: middle;
  max-width: 3000px;
}

.tabletable {
  background-color: rgb(0, 0, 91);
  margin-top: 30px;
  width: 18rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.gameText {
  font-size: 4rem;
}

.close {
  background-color: #4a0000;
  margin-top: 50px;
}

/* ========================== */
.virtual-keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #6ea6ff3c;
  padding: 20px;
  border-radius: 1rem;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.key {
  background-color: #201414;
  border: 3px solid #007bff;
  border-radius: 15px;
  font-size: 2rem;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.wide-keyboard {
  width: 1000px;
  display: flex;
  justify-content: center;
}


.endGameText {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 80%;
  margin: 0 auto;
}


.getButton {
  margin-top: 50px;
  font-size: 2rem;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.63);
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.63);
  border-radius: 20px;
}